<p class="heading">All Adverts</p>

<form action="/adverts" method="get">
    <input type="search" name="search" placeholder="Search Adverts...">
</form>

<div class="categoryButtons">

    #foreach ($category in $allCategories)
    <a href="/adverts/category/$category">$category.getNiceName()</a>
    #end

</div>

<div class="advertContainer">

        <p>No Search results</p>

</div>

<a class="button-create" href="/adverts/new">Add advert</a>

