a button {
  cursor: pointer;
}

.button {
  width: 160px;
  height: 50px;;
  font-size: 0.9em;
  border-radius: 30px;
  padding: 10px 32px 10px 32px;
  text-decoration: none;
  margin: auto;
  cursor: pointer;
}

.button-sort{
  font-size: 1em;
  padding: 10px 28px 14px 26px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  align-self: center;
  display: inline-block;
  background-image: linear-gradient(to top, #a5a1ae, #a9aeb9, #b0bac1, #bbc6c8, #c9d1d0);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: black;
}

.button-user-edit{
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  border-color: #07c;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  min-width: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  white-space: nowrap;
  width: 65%;
  height: 46px;
}

.button-user-review{
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  background-image: linear-gradient(to top, #a5a1ae, #a9aeb9, #b0bac1, #bbc6c8, #c9d1d0);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  min-width: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  white-space: nowrap;
  width: 65%;
  height: 46px;
}

.button-create {
  font-size: 1em;
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  align-self: center;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  border-color: #07c;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: white;
}

.button-create-new {
  font-size: 1em;
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  align-self: center;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec,#0070c9);
  border-color: #07c;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: white;
}


.button-update {
  font-size: 1em;
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  align-self: center;
  display: inline-block;
  background-image: linear-gradient(to top, #26882e, #2a9933, #2daa38, #31bb3c, #35cd41);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: white;
}

.button-delete {
  font-size: 1em;
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  align-self: center;
  background-image: linear-gradient(to top, #e10505, #e7221d, #ec332f, #f04240, #f44f4f);
  border-width: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: white;
}

.button-edit {
  background-color: rgb(162, 74, 231);
  font-size: 1em;
  border-radius: 30px;
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  align-self: center;
  display: inline-block;
}

.button-archive {
  font-size: 1em;
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  align-self: center;
  background-image: linear-gradient(to top, #a5a1ae, #a9aeb9, #b0bac1, #bbc6c8, #c9d1d0);
  border-width: 1px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: white;
}

.button-return {
  background-color: rgb(203, 212, 40);
  font-size: 1em;
  border-radius: 30px;
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  align-self: center;
  display: inline-block;
}

.category-buttons{
  height: 45px;
  width: auto;
  background-color: white;
  margin: auto;
  display: block;
}
.category-button {
  height: 44px;
  font-size: 15px;
  background-color: white;
  color: black;
  padding: 14px 22px 14px 22px;  text-decoration: none;
  cursor: pointer;
  align-self: center;
  margin: auto;
  display: inline-block;
  align-items: stretch;
}

.user-buttons-container{
  height: 150px;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-right: -74%;
  background-color: rgb(81 81 81);
}

.user-buttons-text{
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #333333;
  padding-top: 100px;
}

.button-container{
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  background-image: linear-gradient(to top, #e10505, #e7221d, #ec332f, #f04240, #f44f4f);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  min-width: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  white-space: nowrap;
  width: 321px;
  height: 46px;
  margin-top: 30px;
}

.user-rating{
  font-size: 27px;
  color: rgb(23, 23, 23);
    margin-bottom: 102px;
}

.user-rating-a{
  font-size: 35px;
  color: rgb(208, 155, 113);
}

.user-info{
  font-size: 19px;
  margin-bottom: 55px
}


.button-advert{
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  font-size: 27px;
  letter-spacing: -.022em;
  color: rgb(135 135 135);
  cursor: pointer;
  display: inline-block;
  min-width: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  white-space: nowrap;
  text-decoration: underline;
}

.advert-button-container{
  padding-bottom: 6px;
  padding-top: 6px;
  width: 53%;
  height: auto;
  margin: auto;
  margin-bottom: 27px;
  /* border: 1px solid #D7D7D7;
  border-radius: 2px; */
}

.underline{
  text-decoration: underline;
  cursor: pointer;
}
.advert-button-grey{
  background-color: rgb(194 194 194);
  border: none;
  border-radius: 2px;
  color: #black;
  cursor: pointer;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  height: 48px;
  letter-spacing: -0.2px;
  letter-spacing: -0.0125rem;
  line-height: 1em;
  margin-bottom: 14px;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: auto;
margin: 0vh 9vh 1vh 9vh;
}
