a button {
  cursor: pointer;
}

.button {
  width: 160px;
  height: 50px;;
  font-size: 0.9em;
  border-radius: 30px;
  color: white;
  padding: 10px 32px 10px 32px;
  text-decoration: none;
  margin: auto;
  cursor: pointer;
}

/*.button:hover {
  opacity: 0.9;
}

.button-small {
  width: 90px;
  height: 40px;;
  font-size: 0.8em;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
}

.button-small:hover {
  opacity: 0.9;
}

.button-get-started a {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}
*/
.button-create {
  font-size: 1em;
  background-color: #4CAF50;
  border-radius: 30px;
  color: white;
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  align-self: center;
}


.button-update {
  font-size: 1em;
  background-color: #4CAF50;
  border-radius: 30px;
  color: white;
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  align-self: center;
}

.button-delete {
  background-color: rgb(238, 117, 115)
  font-size: 1em;
  border-radius: 30px;
  color: white;
  padding: 15px 32px 15px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  align-self: center;
}