.home-search {
  width: 75%;
  padding: 12px 20px;
  margin: 30px 0;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  opacity: 0.7;
}

.search{
  height: 80px;
  width: 80vh;
}
.search-adverts{
  width: 75vh;
  padding: 8px 0px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(217, 217, 217);
  margin-top: 12px;
    font-size: 20px;
}

.search-adverts input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.content-container {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.form-container {
  width: 100%;
  margin: auto;
}

.new-user-form {

  width: 100%;
  color: black;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-container {
  width: 100%;
  align-self: stretch;
}

.inputbox {
  height: 30px;
  font-size: 1em;
  text-align: center;
  display: block;
  width: 100%;
}

input {
  display: block;
}

textarea {
  width: 100%
}
