header {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 80px;
  top: 0;
}


.logo {
  max-height: 50px;
  width: auto;
  padding: 0;
  min-height: 36px;
  display: block;
  float: left;
  text-align: center;
  line-height: 37px;
  margin-left: 34px;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid black;
}

.logo a {
  color: white;
}

nav {
  width: auto;
  min-width: 500px;
  max-height: 50px;
  padding: 0;
  min-height: 46px;
  background-color: black;
}

 nav ul {
  list-style: none;
  width: auto;
  min-width: 500px;
  max-height: 50px;
  padding: 0;
  min-height: 46px;
  display: inline-block;
  float: right;
  margin-top: 0px;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li {
  display: inline;
  line-height: 50px;
  padding: 0 15px;
  float: right;
}
