/* navigation */
nav {
  position: relative;
  top: 0;
  z-index: 20;
  width: 100%;
  border-bottom: 1px solid white;
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: red;
}

ul li {
  display: block;
  width: 100vh;
  text-align: center;
  line-height: 50px;
  font-size: 12pt;
  background-color:yellow;
  float: right;
}

#logo {
  /* background-repeat: no-repeat; */
  height: 50px;
  width: 60px;
  float: left;
}
