* {
  padding: 0;
  margin: 0;
  font-family: Verdana;
  text-align: center;
  color: #333333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.user-reviews-tag{
  margin-top: 70px;
  margin-bottom: 53px;
  font-size: 20px;
}

.heading {
  padding: 20px;
  width: 100%;
  background-color: white;
  clear: right;
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sub-heading {
  padding: 20px;
  width: 100%;
  background-color: white;
  color: #333333;
  font-size: 33px;
  margin-top: 75px;
}

.none-found {
  padding: 20px;
}

.home-container {
  width: 100%;
  height: 100%;
  background-image: url("images/desert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-search-bars {
  padding-top: 200px;
}

.user-container{
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-right: -74%;
  background-color: rgb(230 230 230);
}

.user-details-container ul li {
  list-style: none;
  text-align: left;
}

.user-details-container {
  height: 270px;
  background: rgb(255 255 255);
  padding: 39px 0px 0px 0px;
  margin-top: 3%;
  width: 40%;
  display: inline-block;

  border-radius: 4px;
}

.user-reviews-container{
  height: 270px;
  background: rgb(255 255 255);
  padding: 39px 0px 0px 0px;
  margin-top: 3%;
  width: 40%;
  display: inline-block;
  float: right;
  border-radius: 4px;
}

.advert-details-container {
  padding: 40px;
  display: inline-block;
  width: 40%;
  height: auto;
  /* border: 3px solid #F2F2F2; */
  margin: auto;
  /* border-radius: 2px; */
}

.advert-details-container ul li {
  list-style: none;
}

.advert-details{
  padding-bottom: 6px;
  padding-top: 6px;
  width: 53%;
  height: auto;
  margin: auto;
  margin-top: 26px;
  border: 1px solid #D7D7D7;
  border-radius: 2px;
}
.comment-box {
  padding: 10px;
  display: block;
  min-width: 40%;
  width: 40%;
  max-height: auto;
  margin: 20px auto;
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}

.comment-box li {
  list-style: none;
  align-items: left;
}

.confirm-delete-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 5px solid red;
}

.rater-comment{
  font-size: 21px;
  text-align: unset;
  padding: 30px;
  color: black;
}

.rating-display p:first-child {
  float: left;
}

.home-heading {
  font-size: 50px;
  font-weight: bold;
  color: white;
  padding-top: 40px;
  text-decoration: underline;
}

.advert-review-container{
  padding-bottom: 6px;
  width: 80%;
  height: auto;
  margin: auto
}
