.table_scroll {
  overflow-y: auto;
  max-height: 500px;
  margin-top: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  align: center;
  border-collapse: collapse;
  width: 80%;
}

table, th, td {
  border: 1px solid #333333;
}

th {
  height: 50px;
  font-size: 20px;
  text-decoration: underline;
  background-color: #333333;
  color: white;
}

td {
  height: 30px;
  background-color: white;
  color: #333333;
}

th, td {
  padding: 3px;
}

td a {
  display: block;
  color: #333333;
  background-color: white;
  padding: 5px;
}

td a:hover {
  background: #333333;
  color: white;
}

.curent-advert-buttons{

}
