<div>

    <p>Are you sure you want to delete $deletingUser.getUsername()? This will wipe all data relating to this user account.</p>

    <form action="/users/$deletingUser.getId()/delete" method="post">
        <input type="submit" class="button-delete" value="Delete">
    </form>

    <a class="button-return" href="/users/$deletingUser.getId()">Return to Profile</a>

</div>