<p class="heading">Users</p>

<div class="usersContainer">

    <form action="/users" method="get" class="search">
        <input class="search-adverts" type="search" name="search" placeholder="Search Users...">
    </form>

</div>

<div class="button-update">
    <a href="/users/new">Create Account</a>
</div>

<div class="advertContainer">

    <p class="error-message">No Search results...</p>

    <a class="button-return" href="/users">Return to All Users</a>

</div>

