<p>All Users</p>

<div class="usersContainer">

    <table>

        <tr>
            <th>Username</th>
        </tr>

        #foreach ($user in $allUsers)
            <tr>
                <td><a href="/users/$user.getId()">$user.getUsername()</a></td>
            </tr>
        #end

    </table>

</div>

<a class="button" href="/users/new">Create Account</a>