<p class="heading">Users</p>

<div class="usersContainer">


    <form action="/users" method="get">
        <input type="search" name="search" placeholder="Search Users...">
    </form>

</div>

<div>

    <p>No Search results</p>

</div>

<a class="button-create" href="/users/new">Create Account</a>