<form action="/" method="post" class="">

    <label for="username">Username:</label>
    <input type="text" class="inputbox" name="username" required="true" id="username" >

    <input type="submit" class="button" value="login">

</form>