<div class="home-container">
    <form class="" action="/adverts" method="get" autocomplete="off">
        <input class="home-search" type="search" placeholder="Search Adverts...">
    </form>

    <form class="" action="/users" method="get" autocomplete="off">
        <input class="home-search" type="search" placeholder="Search Users...">
    </form>
</div>

