<div class="home-container">

    <p class="home-heading">Treegum.</p>

    <div class="home-search-bars">

    <form action="/adverts" method="get" autocomplete="off">
        <input class="home-search" type="search" name="search" placeholder="Search Adverts...">
    </form>


    <form action="/users" method="get" autocomplete="off">
        <input class="home-search" type="search" name="search" placeholder="Search Users...">
    </form>

    </div>

</div>

