<form action="/adverts" method="get">
    <input type="search" name="search" placeholder="Search Adverts...">
</form>

<br>

<form action="/users" method="get">
    <input type="search" name="search" placeholder="Search Users...">
</form>

