<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amazing Gumtree Project</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/buttons.css">
    <link rel="stylesheet" type="text/css" href="/forms.css">
    <link rel="stylesheet" type="text/css" href="/nav.css">
    <link rel="stylesheet" type="text/css" href="/tables.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="icon" href="/images/dead_tree_icon.png" />
</head>
<body>
<nav>
    <div class="logo">
        <img src="/images/dead_tree_icon.png" width="30px" height="30px">
        <a href="/">Home</a>
    </div>
    <ul>
        <li><a href="/adverts">Adverts</a></li>
        <li><a href="/adverts/new">Create Advert</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/users/new">Create Account</a></li>
    </ul>
</nav>
<main>
    <div class="container">
        #parse($template)
    </div>
</main>
</body>
</html>
